/*
 * 
 * Styles for Tokyo-Jogging.com
 * Copyright(c) tokyo-jogging.com and katsuma.tv 
 *
 */
 
*{ 
	margin:0; padding:0;
}
body{
	font-family:"frutiger linotype","lucida grande",helvetica,arial,sans-serif;
	text-align : center;
}

a{
	color : #0066FF;
}

p{
	margin : 0 0 1em 0;
}

ul{
	margin : 0 0 0 1em;
}
ol{
	margin : 0 0 0 1.5em;
}
ol>li{
	margin : 1em 0 0 0;
}
img{
	border : none;
}
object, embed{
	clear : both;	
	margin : 10px auto;
}
iframe{
	clear : both;	
}

hr{
		border : 2px solid #DDD;
		width : 100%;
		clear : both;
		margin : 1.5em 0;
}

address{
	display : inline;
}

/* Header */
div#wrapper{
	width : 95%;
	margin : 0 auto;
	text-align  : left;
}
div#header{
	border-bottom:5px solid #000000;
	border-top:5px solid #000000;
	height:57px;
	margin:10px auto;
	padding:5px 0 0;
}

h1{
	background : url(../images/logo-tokyo-jogging.png) no-repeat;
	width : 222px;
	height : 44px;
	float : left;
}
	h1 span{
		display : none;
	}
	h1 a{
		display : block;
		width : 222px;
		height : 44px;
	}


p#title-caption{
	margin : 0 0 10px 0;
	clear : both;
	font-size:0.7em;	
}

div#concept{
	margin : 2em auto;
}


/* Menu */
div#menu{
	margin :  0 0 0px 0;
	float : left;
	width : 30em;
}
	div#menu ul {
		width : 30em;
		padding : 0;
		margin : 20px 0 0 20px;
	}
	div#menu ul li{
		list-style-type: none;
		float : left;
		display: block;
		width : 0px;
		text-align : center;
		width : 6.5em;
		font-size : 0.8em;
	}
	div#menu ul li a{
		color : #999;
		text-decoration : none;
	}
	div#menu ul li a:hover{
		color : #666;
		text-decoration : underline;		
	}



/* Contents */

div.cont{
	margin : 0 0 2em 0;
	clear : both;
}


div.cont h2{
	padding-left : 38px;
	min-height : 34px;
}
	h2#demo{
		background : url(../images/film.png) no-repeat;
	}
	h2#howto{
		background : url(../images/shoe.png) no-repeat;
	}
	h2#readme{
		background : url(../images/folder.png) no-repeat;
	}
	h2#changes{
		background : url(../images/cal.png) no-repeat;
	}
	h2#contact{
		background : url(../images/mail.png) no-repeat;
	}

div.cont p, 
div.cont ul, 
div.cont address{
	margin-top:0.5em;	
}
div.main-cont{
	clear : both;
	float : left;
	width : 49%;
	text-align : left;
}

div.sub-cont{
	float : right;
	width : 49%;
	text-align : left;
}


/* Footer */

p#copyright{
	border-top : 2px solid #000;
	padding : 1em 0;
	margin : 0 auto;
	width : 95%;
	clear : both;
	float : left;
	font-size : 0.8em;
}